<div class="container">
  <div class="slogan">
    <span class="col-1">ONE PLATFROM</span>
    <span class="col-2"> EVERY RESOURCE</span>
  </div>
  <div class="overiew">
  <span class="col-1">
      <img id="display" src="../../assets/overview.jpg" alt="Overview" >
  </span>
  <span class="col-2">
    <p>Alles provides a platform to create an online libraries</p>
    <p>search and reserve a resource on any available online library.</p>
    <p>Create an online library on a secure and always available platform</p>
    <p>and have users from around the world reserve resources </p>
    <p>found in your library<p>
    <p></p>
  </span>
  </div>
</div>